.calendar-table{
	width:100%;
}
.calendar-table TD, .calendar-table TH{
	padding:3px;
	text-align:center;
}
.calendar-table TH{
	color:#333333;
	border-top:1px solid #7e7e7e;
	border-bottom:1px solid #7e7e7e;
}
.calendar-table caption{
	font-size:200%;
	color:#333333;
	text-transform:uppercase;
}
.linked_today{
	padding:2px;
	color:#FFFFFF;
	background-color:#C7D5FE;
	cursor:pointer;
}
.linked_today_nolink{
	padding:2px;
	color:#FFFFFF;
	background-color:#C7D5FE;
}
.linked_day{
	padding:2px;
	color:#FFFFFF;
	background-color:#7e7e7e;
	cursor:pointer;
}